<h2 class="home-title">WHAT'S NEW</h2>
<div id="news-list">
  <dl>
    <dt>2025/03/01</dt>
    <dd>
      制作開始
    </dd>
    <dt>2025/03/02</dt>
    <dd>
      画像投稿の実装
    </dd>
    <dt>2025/03/03</dt>
    <dd>
      404 500 エラーページの実装
    </dd>
    <dt>2025/03/04</dt>
    <dd>
      edit createのcss
    </dd>
  </dl>
</div>
