<% provide(:title, "500 Internal Server Error") %>
<div class="error-container">
  <h2> <%= I18n.t('errors.messages.internal_server_error') %></h2>
  <%= link_to  I18n.t('errors.messages.back_to_home'), root_path %>
</div>
