.coffee-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.about-container {
  display: flex;
}

.media-container {
  /* display: flex; */
  display: grid;
  justify-content: center;
  margin: 20px;
}
.media-container h3 {
  font-family: "Courier New", Courier, monospace;
  /* background-color: #f0f0f0; */
}

.media-container ul {
  display: flex;
  gap: 5px;
  list-style: none;
}
.media-container i {
  font-size: 4rem;
}

.about-description p {
  margin: 20px;
  padding-left: 20px;
}
