header {
  /* background-color: mintcream; */
  color: white;
  height: 90px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}

header .logo {
  object-fit: cover;
  height: 90px;
  padding: 0;
}

header .header-links,
header .header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
  height: 80%;
  width: 100%;
}

header ul {
  list-style: none;
  display: flex;
  width: 100%;

  align-items: center;
  padding: 0;
  margin: 0;
}

header .header-links ul {
  justify-content: flex-end;
}

header .header-left {
  margin-left: 20px;
  margin-top: 12px;
}

header .header-left li {
  margin-right: 20px;
}

header .header-left a {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
}

header .header-links li {
  margin-right: 40px;
}

header .header-links i,
a {
  font-size: 20px;
  color: rgb(74, 74, 74);
  text-decoration: none;
}

header a:hover {
  color: #8b8b8b;
  text-decoration: underline;
  text-decoration-color: rgb(110, 180, 145);
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
}

header i:hover {
  color: #8b8b8b;
  transform: scale(1.1);
}
