<footer>
  <div class="footer-container">
    <ul>
      <li>Copyright © 2025 CafeLp</li>
      <li>Copyright © 2025 CafeLp</li>
      <li>Copyright © 2025 CafeLp</li>
    </ul>
    <ul>
      <li>Copyright © 2025 CafeLp</li>
      <li>Copyright © 2025 CafeLp</li>
      <li>Copyright © 2025 CafeLp</li>
      <li>Copyright © 2025 CafeLp</li>
    </ul>
    <ul>
      <li>Copyright © 2025 CafeLp</li>
    </ul>
  </div>
</footer>